.content {
    display: flex;
    flex-direction: column;
    width:100%;
}

.content .header {
    font-size: 28pt;
    font-family: sans-serif;
    margin-left: 20px;
}

.content em {
    color: #444444;
    font-size: 14pt;
    font-style: italic;
    font-family: serif;
    margin: 5px 20px 10px 20px;
}

.updated {
    width: 90%;
    display: block;
    text-align: right;
}

.content .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Body Text */
.body p {
    display: flex;
    flex-direction: column;
    font-size: 18pt;
    font-family: sans-serif;
    margin: 20px;
}

.body img {
    max-height: auto;
    max-width: 90%;
    object-fit: scale-down;
    border-radius: 8px;
    box-shadow: 5px 5px 5px -2px #444444;
    margin: 10px 10px 5px 10px
}

/* Add image captions by using em immediately after img
   Use ![alt](link)*caption* to invoke in markdown */
.body img + em {
    color: #333333;
    max-width: 90%;
    font-size: 15pt;
    font-style: italic;
    font-family: serif;
    text-align: center;
    margin: 5px 10px 10px 10px;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

a {
    text-decoration: none;
    outline: none;
}

.card {
    background: #444444;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 2px solid #333333;
    border-radius: 8px;
    margin: 0 20px 20px 20px;
    box-shadow: 5px 5px 5px -2px #444444;
    overflow: hidden;
    text-decoration: none;
}

.card img {
    background: black;
    max-width: 100%;
    max-height: 140px;
    object-fit: cover;
}

.card div {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #333333;
    padding: 5px 10px 5px 10px;
}

.card .title {
    color: white;
    font-size: 16pt;
    font-family: sans-serif;
    text-decoration: none;
}

.card .date {
    color: #aaaaaa;
    font-size: 11pt;
    font-style: italic;
    font-family: serif;
}

/* Desktop/Tablet */
@media only screen and (min-width : 768px) {
    .body img {
        max-height: 400px;
        max-width: 400px;
    }

    .body img + em {
        max-width: 400px;
    }
}