.banner {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 36pt;
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    width:100%;
}

.content .header {
    font-size: 28pt;
    margin-left: 20px;
}

.content .date {
    color: #444444;
    font-size: 14pt;
    margin: 5px 20px 10px 20px;
}

.content .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content .tags span {
    font-style: italic;
    font-family: 'Courier New', serif;
    margin-right: 0.5em;
}

.updated {
    width: 90%;
    display: block;
    text-align: right;
}

.content .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Body Text */
.body p {
    font-size: 16pt;
    margin: 10px;
    line-height: 22pt;
}

.body img {
    max-height: auto;
    max-width: 90%;
    object-fit: scale-down;
    border-radius: 8px;
    box-shadow: 5px 5px 5px -2px #444444;
    margin: 10px
}

/* ------------------------------------------------------------------------------------------------
/* The following classes are hacks to provide a way to specify image placement from within markdown */
/* ------------------------------------------------------------------------------------------------ */

/* Embed image in <p> to float left */
.body p p {
    display: flex;
    flex-direction: column;
    float: left;
    margin: auto;
}

/* Embed image in <div> to float right */
.body p div {
    display: flex;
    flex-direction: column;
    float: right;
    margin: auto;
}

/* Embed image in <h1> for line-breaking images */
.body h1 {
    display: flex;
    flex-direction: column;
}


/* Add image captions by using em immediately after img
   Use [![alt](/path/or/url/ 'mousover')*caption*](link) to invoke in markdown */
.body img + em {
    color: #333333;
    max-width: 90%;
    font-size: 15pt;
    font-weight: 500;
    text-align: center;
    margin: 0 10px 10px 10px;
}

/* Desktop/Tablet */
@media only screen and (min-width : 768px) {
    /* .body p {
        margin: 20px 10px 20px 10px;
    } */

    .body img {
        max-height: 400px;
        max-width: 400px;
    }
    .body p p {
        margin-right: 10px;
    }
    
    .body p div {
        margin-left: 10px;
    }

    .body img + em {
        max-width: 400px;
        margin-bottom: 10px;
    }
}