.app {
    min-height: 100vh;
    background-image: url('../img/background.png');
    background-repeat: repeat;
    overflow: auto;
}

.app .content {
    min-height: auto;
    margin: auto;
    padding: 20px;
    justify-content: center;
    background-image: url('../img/content.png');
    background-repeat: repeat;
}

/* Tablet/Desktop */
@media only screen and (min-width : 768px) {
    .app .content {
        min-height: 600px;
        width: 50%;
        padding: 50px 100px 50px 100px;
        margin-bottom: 100px;
        border-right: 4px solid #333333;
        border-bottom: 4px solid #333333;
        border-left: 4px solid #333333;
        box-shadow: 5px 5px 10px 5px #444444;
    }
}