.nav-wrapper {
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    border-bottom: 4px solid #333333;
    box-shadow: 5px 0 5px 2px #444444;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 220px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: height 0.25s ease;
}

.collapsed {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease;
}

.navbar div {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
    text-align: center;
}

.navbar .icon {
    line-height: 30px;
    margin: 20px;
}

.navbar a {
    color: #444444;
    padding-bottom: 2px;
    margin: 5px 20px 3px 20px;
    font-size: 18pt;
    font-family: sans-serif;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    outline: none;
}

.navbar .active {
    border-bottom: 4px solid #444444;
}

.navbar .desktop-only {
    visibility: hidden;
    height: 0;
    width: 0;
}

.menu-toggle {
    visibility: visible;
    background: grey;
    font-size: 24pt;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    padding-bottom: 5px;
}

/* Tablet/Desktop */
@media only screen and (min-width : 768px) {
    .nav-wrapper {
        position: sticky;
        top: 0;
    }

    .navbar {
        height: auto;
    }

    .navbar div {
        flex-direction: row;
    }

    .navbar .desktop-only {
        visibility: visible;
        height: auto;
        width: auto;
    }

    .menu-toggle {
        visibility: hidden;
        height: 0;
        width: 0;
    }
}