.sidebar {
    display: flex;
    flex-direction: row;
    color: blue;
    width: 100%;
    justify-content: center;
}

.sidebar div {
    padding: 25px;
    font-size: 18pt;
    font-family: sans-serif;
}